pip
ipykernel
ipywidgets
ipympl
jupyter_contrib_nbextensions
kaleido
dash
dash_bootstrap_components
numpy
pandas
umap-learn
dask
datetime
dask[distributed]
opencv-python
scikit-image
scikit-learn
plotly
matplotlib
mplcursors
openpyxl
io